<div mat-dialog-content>
    <h1 *ngIf="!this.data">Create New Client</h1>
    <h1 *ngIf="this.data">Edit Client</h1>

        
    <form [formGroup]="formGroup" class="form">
        <mat-form-field appearance="fill" style="width: 90%;">
            <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        
        <mat-form-field appearance="fill" style="width: 90%;">
            <input matInput placeholder="Phone" formControlName="phone">
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 90%;">
            <input matInput placeholder="E-mail" formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 90%;">
            <input matInput placeholder="Business ID" formControlName="businessId">
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 90%;">
            <input matInput [matDatepicker] = "dateStart" placeholder = "Choose a date" formControlName="dateStart">
            <mat-datepicker-toggle matSuffix [for] = "dateStart"></mat-datepicker-toggle>
            <mat-datepicker #dateStart></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field appearance="fill" style="width: 90%;">
            <input matInput [matDatepicker] = "dateEnd" placeholder = "Choose a date" formControlName="dateEnd">
            <mat-datepicker-toggle matSuffix [for] = "dateEnd"></mat-datepicker-toggle>
            <mat-datepicker #dateEnd></mat-datepicker>
        </mat-form-field>

    </form>
    
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button  cdkFocusInitial (click)="creatPost()" *ngIf="!this.data">Save</button>
    <button mat-button  cdkFocusInitial (click)="editClient()" *ngIf="this.data">Edit</button>
</div>